AutoUpdater
bs4
cloudscraper
ctypes
datetime
eyed3
io
json
math
os
pathlib
platform
psutil
pyuac
random
re
requests
shutil
textwrap
threading
time
urllib.request
webbrowser
win32clipboard
yt_dlp
moviepy
mutagen
pygame
Pillow
PySimpleGUI
billboard
